body {
    background: #7CB9E8;
    background: radial-gradient(circle,#318CE7 0%, rgb(5, 123, 125) 100%);
    
}


::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    transition: all 0.3s;
  }

  ::-webkit-scrollbar-thumb {
    background: #ff7eb3; /* Cor do "polegar" (parte que se move) */
    border-radius: 10px; /* Bordas arredondadas */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #47fffc; /* Cor ao passar o mouse */
  
  }

  ::-webkit-scrollbar-track {
    background: #000000; /* Cor da "trilha" */
  }





.div-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: rgba(0, 0, 139, 0.085);
}

.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 27px;
    margin-right: 27px;

    li{
        color: white;
        transition: all 0.3s;
        cursor: pointer;
    }

    li:hover{
        transform: scale(1.1);
        color: lightgrey;
    }

}


.caua {
    display: flex;
    margin-left: 20px;

    &lt{
        color: rgb(221, 2, 2);
    }

}

section.myself {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100dvh;
    gap: 100dvh;
}



.aboutme {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    width: 100%;
    height: 100dvh;
    background-color: rgba(1, 1, 22, 0.687);

}

.cabecalho-sobremim {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: flex-start;

    h1 {
        font-size: 50px;
        margin-top: 10px;
    }
}

.content-sobremim {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    font-size: 22px;
    font-weight: lighter;

    p{
        width: 400px;
    }
}

.icon-web-dev {
    display: flex;
    flex-direction: row;
    gap: 70px;

    img.icon-webdev{
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
}


.texto-animado {

    display: flex;
    gap: 30px;
    flex-direction: column;


    .links-midias {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 28px;


        .botao-sobremim {

            display: flex;
            justify-content: end;

            .butao-sobremim {
                width: 200px;
                height: 50px;
                margin-left: 10px;
                border-radius: 12px;
                background-color: rgb(10, 69, 69);
                border: none;
                cursor: pointer;
                transition: all 0.3s;
            }

            .butao-sobremim:hover{
                background-color: red;
                color: white;
                
            }
        }

        .botoes {

            display: flex;
            flex-direction: row;
            gap: 20px;

            img.icones {
                width: 30px;
                height: 30px;
                cursor: pointer;
                transition: all 0.3s;
            }

            img.icones:hover{
               transform: scale(1.3);
            }
        }


    }

    .animacao {
        color: white;
        font-size: 50px;
        text-shadow: 10px 10px 10px rgba(0, 234, 255, 0.696);
        white-space: nowrap;
        max-width: 90px;

    }
}

.foto {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;


    .foto-caua {
        width: 400px;
        border: 15px solid rgb(0, 128, 111);
        border-radius: 20%;

    }
}

.stacks{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
    height: 100dvh;
    border: 1px solid green;
    background-color: rgb(229, 130, 130);

    h1{
         
    }

  
    .cartoes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 37px;
        padding-top: 20px;
        margin-bottom: 30px;
        align-self: center;
        border: 1px solid green;
   
       


        .cards-tecnologias{
            width: 95px;
            height: 95px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            background-color: lightgrey;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;

            .image-icon-techs{
                width: 50px;
                height: 50px;
            }
    
            h4{
    
            }
        }

        .cards-tecnologias:hover{
            background-color: rgb(12, 12, 99);
            transform: scale(1.1);
        }


    }


}

section.meus-projetos{
    width: 100%;
    height: 80dvh;
}











@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .lista {
        flex-direction: column;
        gap: 10px;
        margin-right: 0;
    }

    section.myself {
        flex-direction: column-reverse;
        gap: 1px;
        height: 140dvh;   /* testar com outras medidas */

        .texto-animado{

            display: flex;
            justify-content: center;
            width: 330px;  /* sujeito á mudanças */
           

            .animacao{
                margin-right: 30px;
                font-size: 30px;
            }

        }

    }
    
  
    .content-sobremim {
        flex-direction: column-reverse;
        align-items: flex-start;
        font-size: 18px;
        padding: 20px;
    }

    .icon-web-dev img.icon-webdev {
        width: 150px;
        height: 150px;
    }

    .texto-animado {
        flex-direction: column;
    }

    .botoes {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {


    section.myself{
        display: flex;
        height: 100dvh;   /* sujeito á mudanças */
        justify-content: space-evenly;
    }

    .content-sobremim {
        font-size: 16px;
        padding: 10px;
    }

    .foto-caua {
        width: 300px;
        margin-top: 90px;
    }


    .stacks{
        height: 120dvh;
        display: flex;
        flex-direction: column;
        align-items:center ;
        

    }

    .cartoes {
        flex-direction: column;
        gap: 15px;
    }

    .cards-tecnologias {
        width: 80px;
        height: 80px;
    }

    .cards-tecnologias .image-icon-techs {
        width: 40px;
        height: 40px;
    }

    .animacao {
        text-shadow: 5px 5px 5px rgba(0, 234, 255, 0.5);
    }
}